Welcome to the world of Automation powered by Ansible.!!!


Host IP Address: {{ansible_all_ipv4_addresses}}
Host OS Family:  {{ansible_os_family}}

Updated Document Root: {{ doc_root }}

Testing Nothing Handler
