<!DOCTYPE html>
<html lang="en">
<head>
<meta cherset="utf-8">
</script>
</head>
<body>
<h1>Welcome to the world of Automation powered by Ansible.!!!</h1><br>
<h2>Host IP Address: {{ansible_all_ipv4_addresses}}</h2>
<h2>Host OS Family:  {{ansible_os_family}}</h2>
<h2>Updated Document Root: {{ doc_root }}</h2>
</body>
</html>
